body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:500px ;        
    background-color: black;    
  }
.container {
    position: relative;
    width: 480px;
    height: 272px;
    border: 2px solid yellow;    
    background-color: blue;
}  
.container img.escPri {
    max-width: 100%;
    max-height: 100%;
}
/*Posicion espacial de los pnj*/
.container img.pnjEne{
    position: absolute;    
    top:  60%; 
    left: 70%;
}
.container img.pnjAta{
    position: absolute;    
    top:  65%; 
    left: 7%;
}

/*Estilos de los botones de ataque*/
.container img.btnAgu{
    width:25px;
    position: absolute;    
    top:  90%; 
    left: 5%;
}
.container img.btnFue{
    width:25px;
    position: absolute;    
    top:  90%; 
    left: 11%;
}
.container img.btnTru{
    width:23px;
    position: absolute;    
    top:  90%; 
    left: 17%;
}
/*Posiciones de elementos de ataque*/
.container img.aguAta{    
    position: absolute;    
    top:  53%; 
    left: 70%;
}

.container img.truAta{    
    position: absolute;    
    top:  53%; 
    left: 70%;
}
