body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:500px ;        
    background-color: black;    
  }
.container {
    position: relative;
    width: 480px;
    height: 272px;
    border: 2px solid yellow;    
    background-color: blue;
}  
.container img.escPri {
    max-width: 100%;
    max-height: 100%;
}

.container img.vs{
    position: absolute;     
    width: 50px;
    height: auto;   
    top:  0%; 
    left: 45%;
}
/*Posicion espacial de los pnj*/
.container img.pnjEne{
    position: absolute;    
    top:  60%; 
    left: 70%;
}
.container img.pnjAta{
    position: absolute;    
    top:  65%; 
    left: 7%;
}

/*Estilos de los botones de ataque*/
.container img.btnAgu{
    width:25px;
    position: absolute;    
    top:  90%; 
    left: 5%;
}
.container img.btnFue{
    width:25px;
    position: absolute;    
    top:  90%; 
    left: 11%;
}
.container img.btnTru{
    width:23px;
    position: absolute;    
    top:  90%; 
    left: 17%;
}
/*Posiciones de elementos de ataque*/
.container img.aguAta{    
    position: absolute;    
    top:  53%; 
    left: 70%;
}

.container img.truAta{    
    position: absolute;    
    top:  53%; 
    left: 70%;
}

.container img.conVidAta{
    position: absolute;    
    top:  0%; 
    left: 0%;
}

.container img.conVidEne{
    transform: scaleX(-1);
    position: absolute;    
    top:  0%; 
    left: 55%;
}
/* barra de vida*/

.container img.vidEne{
    transform: scaleX(-1);
    position: absolute;    
    top:  0%; 
    left: 55%;
}

/*Mensajes*/
.container img.mensaje{
    position:  absolute;
    top:30%;
    left: 0%;
}

/*reduccion*/
.container div.vidAta{
    overflow: hidden;
    width: 200px;
    height: auto;
    position: absolute;    
    top:  0%; 
    left: 0.5%;     
}

.container div.vidEne{    
    transform: scaleX(-1);
    transform-origin: left;
    overflow: hidden;
    width: 200px;    
    height:auto;    
    position: absolute;    
    top:  0%; 
    left: 99%;    
}

/*Posicion elementos oponente*/

.container img.fueEne{    
    position: absolute;    
    top:  70%; 
    left: 7%;
}

.container img.truEne{    
    position: absolute;    
    top:  70%; 
    left: 0%;
}

.container img.aguEne{    
    position: absolute;    
    top:  70%; 
    left: 7%;
}

.sonido audio.sonido{
    background-color: blueviolet;
}